// @import '../node_modules/normalize.css/normalize';


// Colors
$c1: #d429ff;
$c2: #405fe0;

$white: #fff;
$black: #333;

// Typo General
$f-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$f-size: 16px;
$f-height: 1.6;
$f-color: #444;
$f-weight-light: 300;
$f-weight: 400;
$f-weight-bold: 600;

// Typo Headlines
$h-font-family:  $f-family;
$h-space: 2em 0 0.5em 0;
$h-color: #444;
$h-weight: $f-weight-bold;
$h-height: 1.2;
$h-sizes: (
	h1: 2.25rem,
	h2: 2.0rem,
	h3: 1.5rem,
	h4: 1.25rem,
	h5: 1.125rem,
	h6: 1rem
);

// Typo Bases
$p-space: 1em 0;
$p-lead-size: 1.3rem;
$p-lead-margin: 0.5em 0 1em 0;
$p-lead-style: normal;

// Links
$a-color: $c1;
$a-color-hover: $c2;
$a-decoration: underline;
$a-decoration-h: underline;

// Emphasis
$i-style: italic;
$i-color: inherit;

// Strong
$b-weight: $f-weight-bold;
$b-color: inherit;

// Horizontal Rule
$hr-margin: 2em auto;
$hr-height: 1px;
$hr-color: #d3d3d6;

// Blockquote
$q-margin: 2em 0;
$q-font-family: $f-family;
$q-weight: $f-weight;
$q-size: 1.3rem;
$q-size-cite: 1rem;

// Lists
$l-margin: 1em 0;
$l-padding: 0;
$l-item-margin: 0.5em 0 0.5em 1.3em;
$l-item-padding: 0 0 0 0.3em;
$l-type-u: disc;
$l-type-o: decimal;

// Code
$c-font: monospace;
$c-weight: $f-weight-bold;
$c-size: 0.9rem;
$c-color: $c2;

// Pre
$pr-margin: 1em 0;
$pr-background: #fdfdfd;
$pr-border: 1px dashed #ccc;
$pr-padding: 0.7rem 1rem;
$pr-size: 0.9rem;

// Keyboard Commands
$kb-background: #fdfdfd;
$kb-border: 1px dashed #ccc;
$kb-padding: 0.2em 0.4em;
$kb-margin: 0 0.2em;

// Definition List
$dl-margin: 1em 0;
$dl-padding: 0 0 0 1em;
$dl-term-margin: 0.5em 0;
$dl-term-weight: $f-weight-bold;
$dl-desc-margin: 0 0 1em 0;

// Mark
$ma-padding: 0.2em 0.4em;
$ma-color: $f-color;
$ma-background: yellow;

// Forms
$fo-margin: 1em 0;
$fo-field-margin: 1em 0;
$fo-field-border: 1px solid #ccc;
$fo-field-background: $white;
$fo-field-disabled: #f1f1f1;
$fo-field-color: $f-color;
$fo-field-padding: 0.7em;
$fo-field-height: 2.7em;


@import 'modules/mixins';
@import 'modules/base';
@import 'modules/typo';
@import 'modules/form';
@import 'modules/button';