@import '../node_modules/normalize.css/normalize';


// Colors
$c1: #d429ff;
$c2: #405fe0;

$white: #fff;
$black: #333;

// Typo General
$f-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$f-size: 18px;
$f-height: 1.6;
$f-color: #444;
$f-weight-light: 300;
$f-weight: 400;
$f-weight-bold: 600;

// Typo Headlines
$h-font-family:  $f-family;
$h-space: 2em 0 0.5em 0;
$h-color: #444;
$h-weight: $f-weight-bold;
$h-height: 1.2;
$h-sizes: (
	h1: 2.25rem,
	h2: 2.0rem,
	h3: 1.5rem,
	h4: 1.25rem,
	h5: 1.125rem,
	h6: 1rem
);

// Typo Bases
$p-space: 1em 0;
$p-lead-size: 1.3rem;
$p-lead-margin: 0.5em 0 1em 0;
$p-lead-style: normal;

// Links
$a-color: $c1;
$a-color-hover: $c2;
$a-decoration: underline;
$a-decoration-h: underline;

// Emphasis
$i-style: italic;
$i-color: inherit;

// Strong
$b-weight: $f-weight-bold;
$b-color: inherit;

// Horizontal Rule
$hr-margin: 2em auto;
$hr-height: 1px;
$hr-color: #d3d3d6;

// Blockquote
$q-margin: 2em 0;
$q-font-family: $f-family;
$q-weight: $f-weight;
$q-size: 1.3rem;
$q-size-cite: 1rem;

// Lists
$l-margin: 1em 0;
$l-padding: 0;
$l-item-margin: 0.5em 0 0.5em 1.3em;
$l-item-padding: 0 0 0 0.3em;
$l-type-u: disc;
$l-type-o: decimal;

// Code
$c-font: monospace;
$c-weight: $f-weight-bold;
$c-size: 0.9rem;
$c-color: $c2;

// Pre
$pr-margin: 1em 0;
$pr-background: #fdfdfd;
$pr-border: 1px dashed #ccc;
$pr-padding: 0.7rem 1rem;
$pr-size: 0.9rem;

// Keyboard Commands
$kb-background: #fdfdfd;
$kb-border: 1px dashed #ccc;
$kb-padding: 0.2em 0.4em;
$kb-margin: 0 0.2em;

// Definition List
$dl-margin: 1em 0;
$dl-padding: 0 0 0 1em;
$dl-term-margin: 0.5em 0;
$dl-term-weight: $f-weight-bold;
$dl-desc-margin: 0 0 1em 0;

// Mark
$ma-padding: 0.2em 0.4em;
$ma-color: #444;
$ma-background: yellow;

html,
body{
	font-weight: $f-weight;
	font-family: $f-family;
	font-size: $f-size;
	line-height: $f-height;
	color: $f-color;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

*{
	&,
	&:before,
	&:after{
		box-sizing: border-box;
	}
}

img{
	max-width: 100%;
	height: auto;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
dt,
ul li,
ol li,
blockquote,
cite,
fieldset,
label,
input,
textarea{
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}




@mixin clearfix{
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}

%clearfix,
.clearfix{
	@include clearfix;
}



@mixin headlines{
	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		@content;
	}
}

@include headlines {
	margin: $h-space;
	color: $h-color;
	line-height: $h-height;
}

@each $headline, $size in $h-sizes{
	%#{$headline},
	.#{$headline},
	#{$headline}{
		font-family: $h-font-family;
		font-weight: $h-weight;
		font-size: $size;
	}
}


p{
	margin: $p-space;
}
.lead{
	font-size: $p-lead-size;
	margin: $p-lead-margin;
	font-style: $p-lead-style;
}



a{
	color: $a-color;
	text-decoration: $a-decoration;
	&:hover{
		color: $a-color-hover;
		text-decoration: $a-decoration-h;
	}
}



em,
i{
	font-style: $i-style;
	color: $i-color;
}



strong,
b{
	font-weight: $b-weight;
	color: $b-color;
}



hr{
	margin: $hr-margin;
	height: $hr-height;
	background: $hr-color;
	border: none;
}


blockquote{
	margin: $q-margin;
	font-family: $q-font-family;
	font-weight: $q-weight;
	font-size: $q-size;
	@extend %clearfix;
	p:nth-last-child(2){
		margin-bottom: 0;
	}
	cite{
		font-size: $q-size-cite;
		font-style: normal;
		float: right;
		&:before{
			content: '— ';
		}
	}
}


ol,
ul{
	margin: $l-margin;
	padding: $l-padding;
	li{
		margin: $l-item-margin;
		padding: $l-item-padding;
	}
}
ol{
	list-style-type: $l-type-o;
}
ul{
	list-style-type: $l-type-u;
}


code{
	font-size: $c-size;
	color: $c-color;
	font-family: $c-font;
	font-weight: $c-weight;
}

pre{
	margin: $pr-margin;
	background: $pr-background;
	border: $pr-border;
	overflow: auto;
	padding: $pr-padding;
	font-size: $pr-size;
	border-radius: 3px;
}

kbd{
	background: $kb-background;
	border: $kb-border;
	padding: $kb-padding;
	margin: $kb-margin;
	border-radius: 3px;
}


dl{
	margin: $dl-margin;
	padding: $dl-padding;
	dt{
		margin: $dl-term-margin;
		font-weight: $dl-term-weight;
	}
	dd{
		margin: $dl-desc-margin;

	}
}

mark{
	padding: $ma-padding;
	color: $ma-color;
	background: $ma-background;
}





.field {
	margin: 1em 0;

	// & label,
	// & input,
	// & textarea,
	// & .form-message,
	// & .select {
	// 	&:first-child {
	// 		margin-top: 0;
	// 	}
	// 	&:last-child {
	// 		margin-bottom: 0;
	// 	}
	// }
}



input,
textarea{
	display: block;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #ccc;
	background: #fff;
	appearance: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	padding: 0 0.7em;
	height: 2.7em;
	&[disabled]{
		background: #f1f1f1;
	}
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
	margin-right: 10px;
	width: auto;
	height: auto;
	box-shadow: none !important;
}


label{
	display: block;
	margin: 0.3em 0;
}

.checkbox,
.radio,
.switch{
	position: relative;
	input{
		position: absolute;
		left: 0;
		opacity: 0;
		z-index: -1;
	}
	label{
		cursor: pointer;
		padding: 0 0 0 2.4em;
		&:before{
			content: '';
			transition: all 0.2s;
			background: $white;
			display: block;
			border: 1px solid #ccc;
			position: absolute;
			left: 0;
		}
	}
}
.checkbox{
	input{
		&:checked{
			~ label{
				&:before{
					background-color: $c1;
					border: none
				}
			}
		}
	}
	label{
		&:before{
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTIuOHB4IiBoZWlnaHQ9IjkuOHB4IiB2aWV3Qm94PSIwIDAgMTIuOCA5LjgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyLjggOS44IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMTEuNCwwIDQuNCw3IDEuNCw0IDAsNS40IDMsOC40IDQuNCw5LjggNS44LDguNCAxMi44LDEuNCAiLz4NCjwvc3ZnPg0K);
			background-position: center center;
			background-size: 60% 60%;
			background-repeat: no-repeat;
			text-align: center;
			line-height: 20px;
			font-family: arial;
			font-weight: bold;
			font-size: 0.8em;
			color: $white;
			height: 1.7em;
			width: 1.7em;
			top: 0.15em;
		}
	}
}
.radio{
	input{
		&:checked{
			~ label{
				&:before{
					border: 0.3em solid $c1;
				}
			}
		}
	}
	label{
		&:before{
			border-radius: 50%;
			height: 1.35em;
			width: 1.4em;
			top: 0.1em;
		}
	}
}

.switch{
	input{
		&:checked{
			~ label{
				&:before{
					background: $c1;
				}
				&:after{
					left: 1.4em;
					border: 1px solid $c1;
				}
			}
		}
	}
	label{
		padding: 0 0 0 3.8em;
		&:before{
			border-radius: 0.7em;
			height: 1.4em;
			width: 2.8em;
			top: 0.1em;
			background: $white;
		}
		&:after{
			transition: all 0.2s;
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0.1em;
			height: 1.4em;
			width: 1.4em;
			background: $white;
			left: 0;
			border: 1px solid #ccc;
			border-radius: 50%;
		}
	}
}

fieldset{
	border: 1px solid #ccc;
	padding: 0 1em;
	legend{
		padding: 0 0.6em;
	}
}